@model FitnessStudioAdminPanel.Models.LoginViewModel

@{
}

<form asp-action="Login" asp-controller="Account" method="post">
    <div>
        <label for="Username">Username</label>
        <input type="text" id="Username" name="Username" required />
    </div>
    <div>
        <label for="Password">Password</label>
        <input type="password" id="Password" name="Password" required />
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>


